.root {
    -fx-background-color: #2f2f2f;
}

.button {
    -fx-background-color: #ff6347;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #ff4500;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: #2f2f2f;
    -fx-font-weight: bold;
}
